*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #ddd, #eee);
    display: grid;
    place-content: center;
}


.container{
    width: 380px;
    background: white;
    border-radius: 8px;
    border: 1px solid silver;
    padding: 20px;
    text-align: center;
}


.container h2{
    margin-bottom: 20px;
}


.container .input-field{
    width: 100%;
    margin-bottom: 15px;
}


.container .input-field input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
    margin-bottom: 20px;
    font-size: 15px;
}


.container .input-field button{
    width: 100%;
    padding: 9px;
    background: black;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    font-weight: 550;
    cursor: pointer;
    transition: all ease-in 0.2s;
}


.container .input-field button:active{
    scale: 0.8;
}


.container img{
    width: 350px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid silver;
    object-fit: contain;
    margin-top: 15px;
}