@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #420303, #dd0404);
    display: grid;
    place-content: center;
}

.container{
    width: 350;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.container .timer{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 8px;
}

.container .timer h1{
    font-size: 55px;
    font-family: Inconsolata;
    background: linear-gradient(210deg, red, brown);
    color: transparent;
    background-clip: text;
}

.container .timer p{
    font-size: 18px;
    font-family: Inconsolata;
    font-weight: 510;
    background: linear-gradient(210deg, green, darkgreen);
    color: transparent;
    background-clip: text;
}
.container h2{
    font-family: 'Rubik';
    font-weight: 500;
    background: linear-gradient(210deg, red, brown);
    color: transparent;
    background-clip: text;
}