*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background:  White;
    display: grid;
    place-content: center;
}
form{
    width: 500px;
    height:550px;
    background: #f3e29c;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid silver;
}
h2{
    width: 100%;
    margin: 12px ;
    font-size: 50px;
    text-align: center;
}
form .input-field{
    width: 100%;
    margin: 12px 0;
}
form .input-field label{
    font-size: 14px;
    font-weight: 520;
}
form .input-field input,
form .input-field select{
    width: 100%;
    margin-top: 5px;
    padding: 9px;
    border-radius: 5px;
    border: 2px solid silver;
    outline: none;
}
form button{
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    background:#FFCE12;
    border:#FFCE12; 
    font-weight: 520;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}