*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: black;
}
.container{ 
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container .btn{
    padding: 8px 14px;
    background: white;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease-in 0.2s;
    outline: none;
    font-weight: 520;
}
.container .btn:active{
    scale: 0.8;
}