body {
    margin: 0;
    padding: 0;
    background: #030303;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight:1000;
}
.container {
    width: 350px;
    background: rgb(16, 7, 52);
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    color: #fff;
    text-align: center;
}
.input-field {
    display: flex;
    gap: 10px;
}

.input-field input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.input-field button {
    padding: 8px 12px;
    background: #f4f3f8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

ul {
    padding: 0;
    margin-top: 20px;
   
}

li {
    list-style: none;
    background: #f2f2f2;
    padding: 3px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 10px;
}