* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #131315;
}

.container {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1.2em;
    overflow: hidden;
}

.container .screen {
    width: 100%;
    height: 100px;
    background: #212428;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1em;
    font-size: 2em;
    color: white;
    font-weight: 550;
}

.container .button-container {
    background-color: #1d1e20;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1em;
    padding: 1em;
    gap: 1em;
    color: white;
}

.container .button-container button {
    padding: 10px;
    font-weight: 510;
    outline: none;
    cursor: pointer;
    background:#2a2d33;
    color: white;
    border: #2a2d33;
    border-radius: 3px;
    font-size: 1.05em;
}
.container .button-container .clear{
    background: #5b87ff;
    color: ffffff;
}
.container .button-container .equal{
    background: #5b87ff;
    color: ffffff;
}
.container .button-container .operator{
    background:#2a2d33 ;
    color:#5b87ff;
}