*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: #020024;
background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 62%, rgba(0, 212, 255, 1) 100%);
    display: grid;
    place-content: center;
}

.container{
    width: 500px;
    height: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 4px 8px 6px rgba(0,0,0,0.1);
    padding: 20px;
    transition: all ease-in 0.2s;
}

.container h2{
 background: #020024;
background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 62%, rgba(0, 212, 255, 1) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 25px;
}

.container form{
    width: 100%;
    padding: 0 3%;
}

.container form .input-field{
    width: 100%;
    margin-bottom: 12px;
}

.container form .input-field label{
    font-size: 14px;
    font-weight: 520;
    color: rgb(27, 11, 107);
}

.container form .input-field input{
    width: 100%;
    margin-top: 5px;
    padding: 9px;
    border: 2px solid rgb(11, 87, 125);
    border-radius: 5px;
    outline: none;
}

.container form button{
    width: 100%;
    margin: 10px 0 20px;
    padding: 10px;
background: #020024;
background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 62%, rgba(0, 212, 255, 1) 100%);;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 550;
    color: white;
    border-radius: 9px;
}

.container .result{
    width: 100%;
    padding: 0 3%;
    transition: all ease-in 0.2s;
}

.container .result p{
    font-size: 19px;
    margin-bottom: 5px;
    text-align: start;
}

.container .result p span{
    font-weight: 550;
}