*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --bg: #13033b;
    --accent: #1bafd1;
    --card-bg: #304d5a;
    --border: #05628e;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(3, 3, 4),var(--bg));
    color: rgb(250, 251, 252);
    overflow-x: hidden;
}
.parallax-icon{
    position: fixed;
    top: 35%;
    left: 10%;
    width: 70px;
    height:60px;
    z-index: 100;
    filter: drop-shadow(0 0 25px rgb(224, 217, 231));
}
section{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    padding: 0 8%;
    text-align: center;
}
.hero h1{
    font-size: 10vw;
    margin-bottom: 20px;
    background: linear-gradient(120deg,white,var(--accent));
    background-clip: text;
    color: transparent;
}
.card-section{
    background: linear-gradient(to bottom,transparent,var(--bg));
}
.card-section .card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,250px);
    gap: 2rem;
}
.card-section .card-container .card{
    width: 100%;
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 18px;
    padding: 1rem;
    transition: all ease-in 0.2s;
}
.card-section .card-container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 70px var(--accent);
}
.card-section .card-container .card h3{
    color: var(--accent);
}