*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, blueviolet, darkorange);
    display: grid;
    place-content: center;
}

.box{
    width: 250px;
    padding: 18px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
}

.box h2{
    font-size: 40px;
    background: linear-gradient(120deg,blueviolet,darkorange);
    color: transparent;
    background-clip: text;
}
.box button{
    padding: 8px 30px;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    background: linear-gradient(120deg,blueviolet,darkorange);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}