
.container-dark {
  width: 100%;
  height: 100vh;
  background: #555;
  display: grid;
  place-content: center;
  transition: all ease-in 0.2s;
}


.container-light {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: grid;
  place-content: center;
  transition: all ease-in 0.2s;
}


.container-dark .box,
.container-light .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  flex-direction: column;
}


.container-dark .box i,
.container-light .box i {
  font-size: 60px;
  transition: all ease-in 0.2s;
  filter: drop-shadow(0 -20px 10px yellow);
}


.container-dark .box button,
.container-light .box button {
  padding: 9px 25px;
  font-weight: 550;
  cursor: pointer;
  border: 2px solid black;
  background: black;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  transition: all ease-in 0.2s;
}

.container-dark .box button:active,
.container-light .box button:active {
  scale: 0.9;
}
