body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.card-container {
  display: flex;
  flex-direction: row;     
  flex-wrap: wrap;         
  gap: 24px;
  padding-left: 100px;
}



.main-title {
  text-align: center;
  color: #6a0dad;
  margin-bottom: 30px;
}


.card {
  width: 280px;            
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}



.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  margin: 15px 0 10px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #555;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #5800a8;
}
