*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background :gray;
    padding: 0 3%;
    display: grid;
    place-content: center;
    grid-template-columns: 350px 350px 350px;
    gap: 1.5em;
}
form,
.wrap{
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
form h2,
.wrap h2{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .input-field,
.wrap .input-field{
    width: 100%;
    margin-bottom: 12px;
}
form .input-field label,
.wrap .input-field label{
    font-size: 14px;
    font-weight: 520;
    color: #777;
}
form .input-field input,
.wrap .input-field input{
    width: 100%;
    margin-top: 5px;
    padding: 9px;
    border-radius: 5px;
    border: 2px solid #eee;
    outline: none;
}
form button,
.wrap button{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: black;
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    font-weight: 550;
    cursor: pointer;
}
form .input-field:focus-within input,
.wrap .input-field:focus-within input{
    border: 2px solid black;
}