*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(61, 138, 138, 1) 100%);
}

.container{
    width: 350px;
    background: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1em;
    border-radius: 5px;
    border: 1px solid silver;
}

.container img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid silver;
}

.container .field{
    width: 100%;
}

.container .field label{
    font-weight: 550;
    color:rgb(4, 4, 89);
}






